//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-adv($radius, $radius1, $radius2, $radius3) {
  -webkit-border-radius: $radius $radius1 $radius2 $radius3;
  -moz-border-radius: $radius $radius1 $radius2 $radius3;
  -ms-border-radius: $radius $radius1 $radius2 $radius3;
  border-radius: $radius $radius1 $radius2 $radius3;
}

@mixin non-text-select(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
@mixin placeholder($color){
  ::-webkit-input-placeholder { /* Chrome */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: $color;
    opacity: 1;
  }
}
//vars
$font-ral: 'Raleway', sans-serif;
$font-ops: 'Open Sans', sans-serif;
$font-rob: 'Roboto', sans-serif;

$appWidth: 1200px;
$foreColor: #151e20;
