@import "../default";

// TODO clean up for beta

nav{
  width: 100%;
  height: 50px;
  position: fixed;
  background: $foreColor;
  z-index: 4;
  transition: top 0.2s ease-in-out;
  top: 0;
  .con{
    width:$appWidth;
    margin: 0 auto;
  }
  .brand{
    cursor: pointer;
    float: left;
    line-height: 50px;
    color: white;
    font-weight: 600;
    margin-right: 10px;
    img{
      width: 40px;
      height: 40px;
      margin-top: 5px;
      margin-right: 5px;
      display: block;
      float: left;
    }
  }

  .search{
    @include border-radius(2px);
    width: 290px;
    border: none;
    box-shadow: 2px 2px 8px -1px rgba(17, 17, 17, 0.129412);
    padding: 7px 7px 7px 7px;
    height: 24px;
    position: relative;
    float: left;
    margin-top: 6px;
    margin-left: 3px;
  }

  .fa{
    float: right;
    line-height: 50px;
    font-size: 15px;
    color: white;
    padding:0px 6px;
  }

  .profile{
    margin-left: 12px;
    float: right;
    position: relative;
  }

  .createAcc, .upload{
    @include border-radius(7px);
    border: 2px solid white;
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 9px;
    padding: 0 15px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-left: 10px;
  }
}
.deskNav{
  display: inline-block;
  width: 100%;
}
.mobileNav{
  padding: 0 8px;
  display: none;
  .search{
    display: none;
  }
  .fa{
    float: left;
    font-size: 23px;
  }
  .actions{
    float: right;
    .fa-search{
      font-size: 17px;
      position: relative;
      top: -1px;
    }
  }
  .mobSearch{
    width: 20px;
    position: absolute;
    @include border-radius(2px);
    border: none;
    box-shadow: 2px 2px 8px -1px rgba(17, 17, 17, 0.129412);
    padding: 7px 7px 7px 7px;
    height: 24px;
    //margin-top: 6px;
    right: 5px;
    transition: all .2s ease-out;
    display: none;
    outline: none;
    top: 6px;
  }
  .extendSearch{
    width: calc(100% - 24px);
    margin-left: 5px;
    position: absolute;
    @include border-radius(2px);
    border: none;
    box-shadow: 2px 2px 8px -1px rgba(17, 17, 17, 0.129412);
    padding: 7px 7px 7px 7px;
    height: 24px;
    //margin-top: 6px;
  }
  .label{
    color: white;
    font-weight: 700;
    line-height: 50px;
    font-size: 17px;
    margin-left: 5px;
  }
}

.dropdown{
  position: absolute;
  left: -60px;
  width: 150px;
  background: white;
  box-shadow: 0px 0px 13px 5px rgba(0,0,0,.05);
  @include border-radius(4px);
  display: none;
  .object{
    padding: 10px;
    float: left;
    font-size: 14px;
    color:#373737;
    width: calc(100% - 20px);
    transition: .3s;
    @include non-text-select();
    z-index: 2;
    .fa{
      line-height: 10px;
      float: left;
      color: black;
      font-size: 16px;
      margin-right: 5px;
      padding-left: 0;
      position: relative;
      top: 2.5px;
    }
  }
  .username{
    color: gray;
  }
  .section{
    border-top: 1px solid #eeeeee;
    display: table;
    width: 100%;
    .object{
      cursor: pointer;
    }
    .object:hover{
      background: #2196F3;
      color: white;
      font-weight: 700;
      .fa{
        color: white;
      }
    }
  }
}

.nav-up{
  top: -54px;
}
