<template name="content">
  {{#with post}}
  <div class="content">
    <div class="view">
      <div class="sixteen-nine">
        <div class="dacontent">
          <img class="hero imgHero" src="{{link}}" />
          <iframe class="hero vidHero" src="{{video}}" width="100%" height="100%"></iframe>
          <div class="banner">
            <div class="header">
              {{title}}
            </div>
            <span class="author">
              By <a href="/user/{{username}}" class="username mapMaker">{{username}}</a>
            </span>

            <span class="gamemode">
              {{gameMode}}
            </span>
          </div>
        </div>
      </div>
      <div class="thumbs" id="{{_id}}thumb">
        {{#if video}}
        <img class="thumb ytThumb" src="{{ytThumb}}"/>
        {{/if}}
      </div>
      <script>
      var count = parseInt({{imgCount}})
      console.log(count)
      for(var i = 0; i < count; i++){
        $('#{{_id}}thumb').html($('#{{_id}}thumb').html() + '<img class="thumb" src="https://f000.backblazeb2.com/file/dh-thumbs/{{_id}}_'+i+'.jpg"/>')
      }
      </script>
      <div class="viewCon actView">
        <div class="actions">
          {{#if cons upUsers currentUser.username}}
          <script>$('.upVote').addClass('voted');$('.downVote').removeClass('voted')</script>
          {{/if}}
          {{#if cons downUsers currentUser.username}}
          <script>$('.downVote').addClass('voted');$('.upVote').removeClass('voted')</script>
          {{/if}}

          <span class="action upVote" id="{{_id}}">
            <span class="fa fa-chevron-up"></span>
            <span class="label">Upvote</span>
          </span>
          <span class="action  downVote" id={{_id}}>
            <span class="fa fa-chevron-down"></span>
            <span class="label">Downvote</span>
          </span>
          <span class="action addFave" id="{{_id}}">
            <span class="fa fa-star"></span>
            <span class="label">Favorite</span>
          </span>
          <span class="action">
            <span class="fa fa-flag"></span>
            <span class="label">Report</span>
          </span>
          {{#if equals currentUser.username username}}
          <span class="action right postDelete">
            <span class="fa fa-trash"></span>
            <span class="label">Delete</span>
          </span>
          <span class="action right postEdit">
            <span class="fa fa-pencil"></span>
            <span class="label">Edit</span>
          </span>
          {{/if}}
        </div>
      </div>
      <div class="viewCon">
        <div class="proper">
          <div class="description">
            {{markdown description}}
          </div>

          <div class="tags">
            {{#each tagList}}
            <span class="tag" title="tag {{this}}">{{this}}</span>
            {{/each}}
          </div>
        </div>
        <div class="edit">
          <div class="label">
            Map Excerpt ( in feed )
          </div>
          <textarea value="{{excerpt}}" class="newExcerpt"></textarea>
          <div class="label">
            Map Description
          </div>
          <textarea value="{{description}}" class="newDesc"></textarea>
          <div class="label">
            YouTube URL
          </div>
          <input class="newYoutube" placeholder="Link" value="{{video}}">
          <div class="label">
            Map File ( zip, tar, tar.gz ) RAR are broken.
          </div>
          <input type="file" id="newMapFile" accept=".zip, .7zip, .tar, .tar.gz">
          <div class="selectCon">
            <select class="newMapCatagory">
              <option value="Remake">Remake</option>
              <option value="Infection">Infection</option>
              <option value="Core">Core</option>
              <option value="Puzzle">Puzzle</option>
              <option value="Minigame">Minigame</option>
              <option value="Aesthetic">Aesthetic</option>
              <option value="Race">Race</option>
              <option value="VIP">VIP</option>
              <option value="Prefabs">Prefabs</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <button class="button-light">Cancel</button>
          <button class="button savePostEdit">Save</button>
          <script charset="utf-8">
          $('.newMapCatagory').val('{{gameMode}}')
          </script>
        </div>
      </div>
      {{>createComment}}
      <div class="commentCon">
        {{#each comment}}
        {{#unless parentId}}
        {{>commentItem}}
        {{/unless}}
        {{/each}}
      </div>
    </div>

    <aside class="sidebar">
      <a href="{{dlMap}}" class="button download">DOWNLOAD</a>
      <div class="catagory">
        <div class="con conBorder">
          <h5 class="header">MAP INFO</h5>
        </div>
        <div class="con">
          <div class="type">
            <span class="info">Author</span><a href="/user/{{username}}"  class="right mapMaker">{{username}}</a>
          </div>
          <div class="type">
            <span class="info">Downloads</span><span class="right">{{downloads}}</span>
          </div>
          <div class="type">
            <span class="info">Upload Time</span><span class="right" title="{{date}}">{{livestamp date}}</span>
          </div>
          <div class="type">
            {{#if lastEdit}}
            <span class="info">Update Time</span><span class="right">{{livestamp lastEdit}}</span>
            {{else}}
            <span class="info">Update Time</span><span class="right">{{editDate}}</span>
            {{/if}}
          </div>
          <div class="type">
            <span class="info">Game Mode</span><span class="right">{{gameMode}}</span>
          </div>
          <div class="type">
            <span class="info">Min Players</span><span class="right">{{minPlayer}}</span>
          </div>
          <div class="type">
            <span class="info">Max Players</span><span class="right">{{maxPlayer}}</span>
          </div>
          <div class="type">
            <span class="info">Views</span><span class="right">{{views}}</span>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <script>
  Meteor.call('postExists', currentPost.get())

  if('{{video}}'){
    $('.imgHero').hide()
    $('.vidHero').show()
  }
  </script>
  {{/with}}
</template>

<template name="createComment">
  <input class="commentText" placeholder="New Comment"/>
  <button class="button commentBttn">Comment</button>
</template>

<template name="commentItem">
  <div class="comment" id='{{_id}}'>
    <div class="commentMeat" id={{_id}}meat>
      {{meat}}
    </div>
    <input class="newComment" placeholder="New comment" id={{_id}}newCom value="{{meat}}">
    <div class="commentTop">
      By <a href="/user/{{username}}"  class="commentMaker">{{username}}</a>
      {{#if edited}}
      <span class="right" title="Last edit: {{edited}}">{{livestamp date}}*</span>
      {{else}}
      <span class="right" title="{{newDate}}">{{livestamp date}}</span>
      {{/if}}
      <div class="actions" id="{{_id}}act">
        <span class="action reply" id="{{_id}}">
          <span class="fa fa-pencil" ></span>
          <span class="label">Reply</span>
        </span>
        <span class="action">
          <span class="fa fa-flag"></span>
          <span class="label">Report</span>
        </span>
        {{#if equals currentUser.username username}}
        <span class="action right comDelete" id="{{_id}}">
          <span class="fa fa-trash"></span>
          <span class="label">Delete</span>
        </span>
        <span class="action right comEdit" id="{{_id}}">
          <span class="fa fa-pencil"></span>
          <span class="label">Edit</span>
        </span>
        {{/if}}
      </div>

      <div class="action saveCom">
        <div class="button goSaveCom" id="{{_id}}">
          Save
        </div>
        <div class="button-light comEditCan" id="{{_id}}">
          Cancel
        </div>
      </div>
    </div>

    {{#if hasParent}}
    {{> createComment}}
    {{/if}}

    {{#each children}}
    {{>subComment}}
    {{/each}}
  </div>
</template>

<template name="subComment">
  <div class="subComment comment" id='{{_id}}'>
    <div class="commentMeat" id={{_id}}meat>
      {{meat}}
    </div>
    <input class="newComment" placeholder="New comment" id={{_id}}newCom value="{{meat}}">
    <div class="commentTop">
      By <a href="/user/{{username}}"  class="commentMaker">{{username}}</a>
      {{#if edited}}
      <span class="right" title="Last edit: {{edited}}">{{livestamp date}}*</span>
      {{else}}
      <span class="right" title="{{newDate}}">{{livestamp date}}</span>
      {{/if}}
      <div class="actions" id="{{_id}}act">
        <span class="action  reply" id="{{_id}}">
          <span class="fa fa-pencil" ></span>
          <span class="label">Reply</span>
        </span>
        <span class="action">
          <span class="fa fa-flag"></span>
          <span class="label">Report</span>
        </span>
        {{#if equals currentUser.username username}}
        <span class="action right comDelete" id="{{_id}}">
          <span class="fa fa-trash"></span>
          <span class="label">Delete</span>
        </span>
        <span class="action right comEdit" id="{{_id}}">
          <span class="fa fa-pencil"></span>
          <span class="label">Edit</span>
        </span>
        {{/if}}
      </div>

      <div class="action saveCom">
        <div class="button goSaveCom" id="{{_id}}">
          Save
        </div>
        <div class="button-light comEditCan" id="{{_id}}">
          Cancel
        </div>
      </div>
    </div>

    {{#if hasParent}}
    {{> createComment}}
    {{/if}}

    {{#each children}}
    {{>subComment}}
    {{/each}}
  </div>
</template>
