<template name="content">
  {{#with post}}
  <div class="content">
    <div class="view">
      <div class="sixteen-nine">
        <div class="dacontent">
          <img class="hero" src="{{link}}" />
        </div>
      </div>
      <div class="thumbs" id="{{_id}}thumb">
      </div>
      <script>
      var count = parseInt({{imgCount}})
      console.log(count)
      for(var i = 0; i < count; i++){
        $('#{{_id}}thumb').html($('#{{_id}}thumb').html() + '<img class="thumb" src="https://f000.backblazeb2.com/file/dh-thumbs/{{_id}}_'+i+'.jpg"/>')
      }
      </script>
      <div class="viewCon">
        <div class="description">
          {{markdown description}}
        </div>

        <div class="tags">
          {{tags}}
        </div>
      </div>
      <input placeholder="New Comment"/>
      <div class="commentCon">
        <div class="comment">
          <div class="commentMeat">
            Oh wow, that is fantastic! one of my favorte maps. 10/10!
          </div>
          <div class="commentTop">
            By finchMFG
            <span class="right">7 hours ago</span>
          </div>
        </div>
      </div>
    </div>

    <aside class="sidebar">
      <button class="download">DOWNLOAD</button>
      <div class="catagory">
        <div class="con conBorder">
          <h5 class="header">MAP INFO</h5>
        </div>
        <div class="con">
          <div class="type">
            <span class="info">Author</span><span class="right">{{username}}</span>
          </div>
          <div class="type">
            <span class="info">Downloads</span><span class="right">{{downloads}}</span>
          </div>
          <div class="type">
            <span class="info">Upload Time</span><span class="right" title="{{date}}">{{livestamp date}}</span>
          </div>
          <div class="type">
            <span class="info">Update Time</span><span class="right">{{editDate}}</span>
          </div>
          <div class="type">
            <span class="info">Game Mode</span><span class="right">{{gameMode}}</span>
          </div>
          <div class="type">
            <span class="info">Min Players</span><span class="right">{{minPlayer}}</span>
          </div>
          <div class="type">
            <span class="info">Max Players</span><span class="right">{{maxPlayer}}</span>
          </div>
          <div class="type">
            <span class="info">Views</span><span class="right">{{views}}</span>
          </div>
        </div>
      </div>
    </aside>
  </div>
  {{/with}}
</template>
