<template name="main">
  <section class="main">
    <section class="featured">
      {{#if home}}
      {{#unless saved}}
      {{#unless onUser}}
      <h1 class="header">Featured</h1>

      <!-- work later -->
      {{#each featured}}
      {{#if title}}
      <a href="/map/{{_id}}" class="sixteen-nine" id="{{_id}}">
        <div class="dacontent">
          <img class="hero" src="{{thumbnail}}" />
          <div class="banner">
            <div class="header">
              {{title}}
            </div>
            <span class="author">
              By
              <a href="/users/{{username}}" class="username">{{username}}</a>
            </span>
      
            <span class="gamemode">
              {{gameMode}}&nbsp;
            </span>
          </div>
        </div>
      </a>
    {{/if}}
    {{/each}}
    {{/unless}}
    {{/unless}}
    {{/if}}

    {{#if onUser}}
    <h1 class="header">Maps by {{onUser}}</h1>
    {{/if}}

    {{#if saved}}
    <h1 class="header">Saved Maps</h1>
    {{/if}}
  </section>

  <section class="maps">
    <aside class="sidebar">
      <div class="catagory">
        <div class="con">
          {{#each catagory}}
          <div class="type">
            <h5 class="gameSelect">{{name}}</h5><h5 class="right">{{count}}</h5>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="catagory">
        <div class="con">
          <select class="themeSelect">
            <option value="classic">Classic Forge</option>
            <option value="modern">Modern Cards</option>
          </select>
        </div>
      </div>

      <div class="catagory">
        <div class="con legal">
          <span class="link goPrivy">Privacy Policy</span>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="https://github.com/finchMFG/dewritoHub" target="_blank" class="link">Source</a>&nbsp;&nbsp;·&nbsp;&nbsp;<span class="link goTos">Terms of Service </span>
        </div>
      </div>

    </aside>
    <div class="sort">
      <span class="option sortNew active">
        New
      </span>
      <span class="option sortHot">
        Trending
      </span>
      <span class="option sortTopDl">
        Top Download
      </span>
      <span class="option sortTopVw">
        Most Viewed
      </span>
    </div>
    <div class="list">

      <section class="feed" id="feed">
        {{#each posts}}
        {{#if equals theme 'classic'}}
        <a class="con postCard" id="{{_id}}" href="map/{{_id}}" target="_blank">
          <div class="sixteen-nine classicImage" id="{{_id}}">
            <div class="dacontent">
              <img class="hero" src="{{thumbnail}}" />
            </div>
          </div>
          <div class="about">
            <h3>{{title}}</h3>
            <div class="author">
              by {{username}}, <span title="{{date}}">{{newDate}}</span>
            </div>
            <div class="desc">
              {{excerpt}}
            </div>
            <div class="bottom">
              <span class="stat">
                <span class="fa fa-cloud-download"></span>
                <span class="number">{{downloads}}</span>
              </span>

              <span class="stat">
                <span class="fa fa-comments"></span>
                <span class="number">{{comments}}</span>
              </span>


              <span class="stat">
                <span class="fa fa-eye"></span>
                <span class="number">{{views}}</span>
              </span>
              <span class="right">
                {{gameMode}} ::
                {{#each starRating}}
                {{#if equals this 'X'}}
                <span class="fa fa-star starRate"></span>
                {{else}}
                <span class="fa fa-star-half-o starRate" ></span>
                {{/if}}
                {{/each}}
              </span>
            </div>
          </div>
        </a>
        {{else}}
        <a href="/map/{{_id}}" class="sixteen-nine postModern" id="{{_id}}">
          <div class="dacontent">
            <img class="hero" src="{{thumbnail}}" />
            <div class="banner">
              <div class="header">
                {{title}}
              </div>
              <span class="author">
                By <a href="/users/{{username}}"  class="username">{{username}}</a>
              </span>

              <span class="quickInfo">
                <span class="section">
                  <span class="fa fa-cloud-download"></span>&nbsp;{{downloads}}&nbsp;&nbsp;
                </span>
                <span class="section">
                  <span class="fa fa-eye"></span>&nbsp;{{views}}
                </span>
              </span>

              <span class="gamemode">
                {{gameMode}}&nbsp;
                {{#each starRating}}
                {{#if equals this 'X'}}
                <span class="fa fa-star starRate"></span>
                {{else}}
                <span class="fa fa-star-half-o starRate" ></span>
                {{/if}}
                {{/each}}
              </span>
            </div>
          </div>
        </a>
        {{/if}}
        {{/each}}
      </section>
      <div>
        <div class="page">
          <span class="fa fa-chevron-left" title="Back"></span>
          <span class="curPage">{{curPage}}</span>
          <span class="fa fa-chevron-right" title="Next"></span>
        </div>
      </div>
    </div>
  </section>
</section>
</template>
