<template name="main">
  <section class="main">
    <section class="featured">
      {{#if home}}
      {{#unless saved}}
      {{#unless onUser}}
      <h1 class="header">Featured</h1>

      <!-- work later -->
      {{#each featured}}
      {{#if title}}
      <a href="/map/{{_id}}" class="sixteen-nine" id="{{_id}}">
        <div class="dacontent">
          <img class="hero" src="{{thumbnail}}" />
          <div class="banner">
            <div class="header">
              {{title}}
            </div>
            <span class="author">
              By <a href="/users/{{username}}"  class="username">{{username}}</a>
            </span>

            <span class="gamemode">
              {{gameMode}}
            </span>
          </div>
        </div>
      </a>
      {{/if}}
      {{/each}}
      {{/unless}}
      {{/unless}}
      {{/if}}

      {{#if onUser}}
      <h1 class="header">Maps by {{onUser}}</h1>
      {{/if}}

      {{#if saved}}
      <h1 class="header">Saved Maps</h1>
      {{/if}}
    </section>

    <section class="maps">
      <aside class="sidebar">
        <div class="catagory">
          <div class="con conBorder">
            <h5 class="header">GAME MODE</h5>
          </div>
          <div class="con">
            {{#each catagory}}
            <div class="type">
              <h5 class="gameSelect">{{name}}</h5><h5 class="right">{{count}}</h5>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="catagory">
          <div class="con conBorder">
            <h5 class="header">THEME</h5>
          </div>
          <div class="con">
            <select>
              <option>Classic Forge</option>
              <!--<option>Modern</option> not made yet.. soonTM-->
            </select>
          </div>
        </div>

        <div class="catagory">
          <div class="con legal">
            <span class="link goPrivy">Privacy Policy</span>&nbsp;&nbsp;·&nbsp;&nbsp;<span class="link">Source</span>&nbsp;&nbsp;·&nbsp;&nbsp;<span class="link goTos">Terms of Service </span>
          </div>
        </div>
        <!-- offline for now
        <div class="catagory">
        <div class="con conBorder">
        <h5 class="header">TOP RATED</h5>
      </div>
      <div class="con">
      <div class="type">
      <h5>DURRDAM</h5><h4 class="right score">8.7</h4>
      <div class="mode">
      Slayer
    </div>
  </div>

  <div class="type">
  <h5>De Straat</h5><h4 class="right score">8.7</h4>
  <div class="mode">
  Oddball
</div>
</div>

</div>
</div>
-->

</aside>
<div class="sort">
  <span class="option active">
    New
  </span>
  <span class="option">
    Trending
  </span>
  <!-- not live until after MVP
  <span class="option">
  Featured
</span>
-->
<span class="option">
  Top
</span>
</div>
<div class="list">

  <section class="feed">
    {{#each posts}}
    <a class="con postCard" id="{{_id}}" href="map/{{_id}}" target="_blank">
      <div class="sixteen-nine" id="{{_id}}">
        <div class="dacontent">
          <img class="hero" src="{{thumbnail}}" />
        </div>
      </div>
      <div class="about">
        <h3>{{title}}</h3>
        <div class="author">
          by {{username}}, <span title="{{date}}">{{newDate}}</span>
        </div>
        <div class="desc">
          {{excerpt}}
        </div>
        <div class="bottom">
          <span class="stat">
            <span class="fa fa-cloud-download"></span>
            <span class="number">{{downloads}}</span>
          </span>

          <span class="stat">
            <span class="fa fa-comments"></span>
            <span class="number">{{comments}}</span>
          </span>


          <span class="stat">
            <span class="fa fa-eye"></span>
            <span class="number">{{views}}</span>
          </span>
          <span class="right">
            {{gameMode}}
          </span>
        </div>
      </div>
    </a>
    {{/each}}
    <div class="page">
      <span class="fa fa-chevron-left" title="Back"></span>
      <span class="curPage">{{curPage}}</span>
      <span class="fa fa-chevron-right" title="Next"></span>
    </div>
  </section>
</div>
</section>
</section>
</template>
