<template name="main">
  <section class="main">
    <section class="featured">
      <h1 class="header">Featured</h1>

      <!-- work later -->
    </section>

    <section class="maps">
      <aside class="sidebar">
        <div class="catagory">
          <div class="con conBorder">
            <h5 class="header">GAME MODE</h5>
          </div>
          <div class="con">
            <div class="type">
              <h5>Slayer</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>Oddball</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>King of the Hill</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>Capture the Flag</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>Assault</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>Territories</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>Juggernaut</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>Infection</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>VIP</h5><h5 class="right">20</h5>
            </div>
            <div class="type">
              <h5>Custom</h5><h5 class="right">20</h5>
            </div>
          </div>
        </div>

        <div class="catagory">
          <div class="con conBorder">
            <h5 class="header">TOP RATED</h5>
          </div>
          <div class="con">
            <div class="type">
              <h5>DURRDAM</h5><h4 class="right score">8.7</h4>
              <div class="mode">
                Slayer
              </div>
            </div>

            <div class="type">
              <h5>De Straat</h5><h4 class="right score">8.7</h4>
              <div class="mode">
                Oddball
              </div>
            </div>

          </div>
        </div>

      </aside>

      <div class="list">
        <div class="sort">

        </div>
        <section class="feed">
          {{#each posts}}
          <div class="con postCard">
            <img src="{{thumbnail}}" />
            <div class="about">
              <h3>{{title}}</h3>
              <div class="author">
                by {{username}}, <span title="{{date}}">{{newDate}}</span>
              </div>
              <div class="desc">
                {{excerpt}}
              </div>
              <div class="bottom">
                <span class="stat">
                  <span class="fa fa-cloud-download"></span>
                  <span class="number">{{downloads}}</span>
                </span>

                <span class="stat">
                  <span class="fa fa-comments"></span>
                  <span class="number">{{comments}}</span>
                </span>


                <span class="stat">
                  <span class="fa fa-eye"></span>
                  <span class="number">{{views}}</span>
                </span>
                <span class="right">
                  {{catagory}} - RATING
                </span>
              </div>
            </div>
          </div>
          {{/each}}


          <div class="con">
            <img src="https://www.forgehub.com/data/resource_icons/6/6555.jpg?1525205182" />
            <div class="about">
              <h3>Title</h3>
              <div class="author">
                by FinchMFG, <span title="Tuesday May 1, 5:18PM">7 hours ago</span>
              </div>
              <div class="desc">
                A super interesing description of the map will go here. This is like, 250 chars before being trunca...
              </div>
              <div class="bottom">
                <span class="stat">
                  <span class="fa fa-cloud-download"></span>
                  <span class="number">20</span>
                </span>

                <span class="stat">
                  <span class="fa fa-comments"></span>
                  <span class="number">20</span>
                </span>


                <span class="stat">
                  <span class="fa fa-eye"></span>
                  <span class="number">20</span>
                </span>
                <span class="right">
                  SLAYER - RATING
                </span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</template>
