<template name="register">
<script>
Meteor.modals.closeModal('.registerModal', '.register')
</script>
<div class="register">
  <img src="https://eldewrito.com/img/logo-white.png" alt="">

  <div class="newTest">
    <input class="username" placeholder="username"/>
    <input class="password" type="password" placeholder="password"/>

    <input class="passwordConf" type="password" placeholder="password confirm"/>

    <button class="button-light acc-switch">Register</button>
    <button class="button acc-action">Login</button>
  </div>
</div>
</template>
