@import "../../default";

.content{
  margin: 0 auto;
  padding-top: 80px;
  width: $appWidth;
  height: calc(100% - 80px);
  a{
    color: lightgray;
  }
  .voted{
    color:white!important;
  }
  .view{
    width: calc(100% - 250px);
    float: left;
    margin-bottom: 50px;
    .viewCon{
      background: $foreColor;
      @include border-radius(3px);
      overflow: hidden;
    }
    .actView{
      margin-bottom: 10px;
    }
    .actions{
      padding: 20px 10px;
      .action{
        padding: 10px;
        font-size: 14.4px;
        color: white;
        color: gray;
        transition: .2s;
        background: #1e2d2e;
        margin-right: 10px;
        @include border-radius(4px);
        cursor: pointer;
        @include non-text-select();
        .label{
          font-size: 12px;
        }
      }
      .right{
        top: -10px;
        position: relative;
      }
      .action:hover{
        color: white;
      }
    }
    .hero{
      width: 100%;
      object-fit: cover;
      display: block;
      @include border-radius(4px);
    }
    .banner{
      position: absolute;
      z-index: 2;
      background: rgba(0, 0, 0, 0.52);
      bottom: 40px;
      width: calc(100% - 80px);
      color: #ececec;
      padding: 20px 40px;
      .header{
        font-size: 20px;
        font-weight: 700;
        font-family: $font-ops;
      }
      .author{
        color: gray;
        position: relative;
        top: 3px;
      }
      .username{
        cursor: pointer;
        transition: .2s;
      }
      .username:hover{
        color: white;
      }
      .gamemode, .author{
        @include non-text-select();
      }
      .gamemode{
        position: relative;
        top: -4px;
        float: right;
        color: lightgray;
        cursor: default;
      }
    }
    .thumbs{
      overflow-x: auto;
    }
    .thumb{
      height: 60px;
      width: 96px;
      margin-right: 10px;
      margin-top: 5px;
      cursor: pointer;
      object-fit: cover;
    }
    .thumb:after{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://i.imgur.com/idmIOUq.jpg');
      content: '';
      display: block;
      position: relative;
    }
    .description{
      padding: 0px 20px;
      color: #d8d8d8;
      font-size: 14.4px;
      font-family: $font-ops;
      text-align: justify;
    }
    input{
      @include border-radius(2px);
      width: calc(100% - 14px);
      border: none;
      box-shadow: 2px 2px 8px -1px rgba(17, 17, 17, 0.129412);
      padding: 7px 7px 7px 7px;
      height: 24px;
      position: relative;
      float: left;
      margin-top: 20px;
    }
    .commentCon{
      width: 100%;
      margin-top: 20px;
      display: inline-block;
    }
    .comment{
      background: $foreColor;
      width: calc(100% - 40px);
      padding: 20px;
      @include border-radius(3px);
      overflow: hidden;
      margin-bottom: 10px;
      .commentTop, .right{
        color: #898989;
        font-size: 14.4px;
      }
    }
    .commentMeat{
      margin-bottom: 5px;
      color: white;
    }
  }
  .sidebar{
    width: 250px;
    float: left;
    display: inline-block;
    @include non-text-select();
    .download{
      margin-left: 10%;
      border: none;
      background: #2196f3;
      width: 90%;
      height: 50px;
      line-height: 50px;
      color: white;
      font-weight: 700;
      @include border-radius(4px);
      font-size: 14.4px;
      margin-bottom: 10px;
    }
    .mapMaker{
      cursor: pointer;
    }
  }
  .catagory{
    background: $foreColor;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 40px;
    display: inline-block;
    @include border-radius(3px);
    .header{
      padding:0;
      margin: 0;
      color: white;
    }
    .con{
      padding: 10px;
    }
    .conBorder{
      border-bottom: 1px solid #494949;
    }
    .type{
      color: white;
      font-size: 13.4px;
    }
    .score{
      color: #009688;
    }
    .mode{
      color: gray;
      font-size: 12px;
    }
  }
  .info{
    color: gray;
  }
  .right{
    float: right;
    color: white;
  }
}

.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > .dacontent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dacontent{
  overflow: hidden;
  img{
    height: 100%;
  }
}
