@import "../../default";

.settings{
  margin: 0 auto;
  padding-top: 80px;
  width: $appWidth;
  height: calc(100% - 80px);
  .list{
    width: calc(100% - 250px);
    float: left;
    background: $foreColor;
    @include border-radius(3px);

    .button-light{
      color: white;
    }
    .con{
      padding: 20px;
      width: calc(100% - 40px);
      display: inline-block;
    }
    .adv{
      display: none;
    }
    .active{
      display: inline-block;
    }
    .section{
      margin-bottom: 15px;
      width: 100%;
      display: inline-block;
    }
    h1, h4{
      color: white;
      margin:0;
      padding: 0;
    }
    input{
      @include border-radius(2px);
      width: calc(100% - 14px);
      max-width: 360px;
      border: none;
      box-shadow: 2px 2px 8px -1px rgba(17, 17, 17, 0.129412);
      padding: 7px 7px 7px 7px;
      height: 24px;
      position: relative;
      float: left;
      margin-top: 5px;
    }
  }
  .sidebar{
    width: 250px;
    float: left;
    display: inline-block;
  }
  .catagory{
    background: $foreColor;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: inline-block;
    @include border-radius(3px);
    .header{
      color: white;
      padding:0;
      margin: 0;
    }
    .con{
      padding: 10px;
    }
    .conBorder{
      border-bottom: 1px solid #494949;
    }
    .type{
      color: white;
      cursor: pointer;
      @include non-text-select();
      h5, h4{
        padding:0;
        margin:0;
        display: inline-block;

      }
    }
  }
}
